<div class="card mx-2 mb-4 p-3 " style="max-width: 540px;">
  <div class="row">

    <div class="col-md-3" >
      <img
        src="{{this.imageUrl}}"
        class="img-fluid"
        alt="{{this.title}}"
        style="height: 100% !important; object-fit: cover !important;"
      />
    </div>

    <div class="col-lg left">
      <div class="card-body"> {{!-- card body --}}
        <h5 class="card-title">{{this.title}}</h5>

        <div class="card-btns">{{!--  card buttons --}}
          {{!--
          <form action="/recipes/favorite" method="post">
            <input class="hidden" value="{{this._id}}" name="recipeId" />
              <button type="submit" class="btn">
                <i
                  class="material-icons"
                  style="color: #B49E9C;"
                  id="{{this._id}}"
                >favorite</i>
              </button>
          </form>
       <form action="/recipes/favorite" method="post">
        <input class="hidden" value="{{this._id}}" name="recipeId" />
        <button type="submit" class="btn"><i
            class="material-icons {{#ifContains this.favoriteRecipes this._id}}favoriteIconToggled{{/ifContains}}"
            id="{{this._id}}"
          >star</i></button>
      </form> --}}

      <button type="submit" class="btn"></button>
        <i class="material-icons"
          {{#ifContains this.favoriteRecipes this._id}}style="color: rgb(227, 207, 26)"{{/ifContains}}
          id="{{this._id}}">favorite
        </i>
      </button>

          <button class="btn btn-md px-3 mx-2 " id="btn"><a href="/recipes/{{this._id}}" style="color: var(--beige);">See Recipe</a></button>
          {{! Only show edit button if creator isn't cookwhaatadmin }}
          {{#ifEqual this.creator this.userId}}
            <button class="btn btn-md btn-secondary px-3 mx-2" ><a style="color: white;" href="/recipes/{{this._id}}/edit">Edit</a></button>
            <form action="/recipes/{{this._id}}/delete" method="POST" >
              <button class="btn-md btn-light btn" style="color: var(--orange);">Delete</button>
            </form>
          {{/ifEqual}}


        </div>

      </div>
    </div>

  </div>
</div>