<div class="card mx-3 px-2" style="max-width: 140px; background-color: red;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="{{this.imageUrl}}"
        class="img-fluid rounded-start"
        alt="{{this.title}}"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{this.title}}</h5>
      </div>
      {{! Only show edit button if creator isn't cookwhaatadmin }}
      {{#ifNotEqual this.creator "CookWhaaatAdmin"}}
        <a href="/recipes/{{this._id}}/edit">Edit</a>
        <a href="/recipes/{{this._id}}/delete">Delete</a>
      {{/ifNotEqual}}
      <a href="/recipes/{{this._id}}">See Recipe</a>
      <form action="/recipes/favorite" method="post">
        <input class="hidden" value="{{this._id}}" name="recipeId" />
        <button type="submit" class="btn"><i
            class="material-icons"
            id="{{this._id}}"
          >star</i></button>
      </form>
    </div>
  </div>
</div>