
<div class="row">
  <div class="mb-5">
    <form action="/recipes/{{recipe._id}}/edit" method="post" enctype="multipart/form-data" class="create-recipe" >
     <h4 class="justify-content-center mb-3">Edit Recipe</h4>
    <div class="form-group mb-3">
        <label class="form-label">Title:
          <textarea name="title"  cols="90" rows="1" class="form-control">{{recipe.title}}</textarea>
        </label>
      </div>
      <div class="form-group">
        <label class="form-label">Ingredients:
          <textarea name="ingredients" cols="90" rows="10" class="form-control mb-3">{{recipe.ingredients}}</textarea>
        </label>
      </div>
      <div class="form-group">
        <label class="form-label">Instructions:
          <textarea name="instructions" cols="90" rows="10" class="form-control mb-3">{{recipe.instructions}}</textarea>
        </label>
      </div>

      <div class="form-group mb-3">
        <label for="formFile" class="form-label">Image:
          <input
            type="file"
            name="recipe-cover-image"
            class="form-control mb-3"
            id="formFile"
          />
        </label>
      </div>
      <div>
        <input name="alternativeImg" style="display:none" value="{{recipe.imageUrl}}"/>
        <img src="{{recipe.imageUrl}}" class="img-fluid rounded-start mb-3" id="preEditImg" alt="{{recipe.title}}">
      </div>
      <button type="submit" id="btn" class="btn mb-3">Save Changes</button>

    </form>
    <form class="create-recipe" action="/cookbook">
        <button type="submit" class="btn mb-3">Cancel</button>
    </form>
  </div>
</div>