<h2>Edit recipe</h2>
<div class="row">
  <div class="mb-3">
    <form action="/recipes/{{recipe._id}}/edit" method="post" enctype="multipart/form-data">
      <div class="form-group">
        <label class="form-label">Title:
          <input type="text" name="title" class="form-control" value="{{recipe.title}}" />
        </label>
      </div>
      <div class="form-group">
        <label class="form-label">ingredients:
          <textarea name="ingredients" cols="30" rows="4" class="form-control">
          {{recipe.ingredients}}
          </textarea>
        </label>
      </div>
      <div class="form-group">
        <label class="form-label">Instructions:
          <textarea name="instructions" cols="30" rows="4" class="form-control">
          {{recipe.instructions}}
          </textarea>
        </label>
      </div>

      <div class="form-group">
        <label class="form-label">Image:
          <input
            type="file"
            name="recipe-cover-image"
            class="form-control-file"
          />
        </label>
      </div>
      <div>
        <img src="{{recipe.imageUrl}}" class="img-fluid rounded-start" alt="{{recipe.title}}">
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>

    </form>
    <form action="/cookbook">
        <button type="submit" class="btn btn-secondary">Cancel</button>
    </form>
  </div>
</div>