<div class="p-5 ms-5">

    <div class="mb-5 row nowrap justify-content-left">

        <div class="col-10">
            <h2 class="apple">{{recipe.title}}</h2>
        </div>

        <div class="row">
          {{#ifNotEqual recipe.creator "CookWhaaatAdmin"}}
              <form action="/recipes/{{recipe._id}}/edit" method="get" class="short p-2">
                  <button type="submit" class="btn btn-light px-3" style="color: var(--orange) !important;">
                    <img src="/images/editIcon.png" alt="pencil icon" class="px-2"> Edit</button>
              </form>

            <form action="/recipes/{{recipe._id}}/delete" method="post" class="xshort p-2">
              <button id="deleteButton" type="submit" class="btn btn-light px-3" style="color: var(--orange) !important;">Delete</button>
            </form>

          {{/ifNotEqual}}

            <form action="/recipes/favorite" method="post" class="long p-2">
              <input class="hidden" value="{{recipe._id}}" name="recipeId" />
              <button id="favoriteButton" type="submit" class="btn btn-light px-3" style="color: var(--orange) !important;">Add
                Favorite</button>
            </form>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">

            <div class="form-group mb-5">
                <img src="{{recipe.imageUrl}}" class="img-fluid rounded-start recipe-image" alt="{{recipe.title}}">
            </div>

            <div class="form-group mb-5">
                <h4 class="apple">Ingredients</h4>
                <ul>{{#each recipe.ingredients}}
                      <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>

        </div>

        <div class="col-lg-7">

            <div class="form-group mb-5">

                <h4 class="apple">Instructions</h4>

                {{!-- <p>{{recipe.instructions}}</p> --}}
                <ol>{{#each recipe.instructions}}
                      <li>{{this}}</li>
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
</div>

{{! script to change add to favorites button  }}
<script type="text/javascript">
  $('#favoriteButton').click(function(){
    $("#favoriteButton").html("Added to favorites!");
    $('#favoriteButton').css("background-color", "transparent");
    $('#favoriteButton').css("color", "black");
    $('#favoriteButton').css("border-style", "none");
  })
</script>
