
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h2>{{recipe.title}}</h2>
        </div>
        <div class="form-group">
            <h4>Ingredients</h4>
            <p>{{recipe.ingredients}}</p>
        </div>
        <div class="form-group">
            <h4>Instructions</h4>
            <p>{{recipe.instructions}}</p>
        </div>
        <div class="form-group">
           <img src="{{recipe.imageUrl}}" class="img-fluid rounded-start" alt="{{recipe.title}}">
        </div>

        <form action="/recipes/{{recipe._id}}/edit" method="get">
            <button type="submit" class="btn btn-primary">Edit</button>
        </form>
    </div>
    </div>
